table {
  display: inline-block;
  height: 40%;
  font: 10px sans-serif;
  table-layout: fixed;
  overflow: auto;
}

thead {
	overflow: auto;
  width: 100%;
}

tbody {
	overflow: auto;
  height: 300px;
  width: 100%;
}

th, td {
  margin: 0;
  border: 1px gray solid;
	padding: .33em 1em;
  overflow: hidden;
	text-align: left;
	vertical-align: middle;
}

body {
  text-align: center;
}